<%-contentFor('usernav')%>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-right navbar-nav">
          <p class="navbar-text">Signed in as <%=user%></p>
          <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
<%-contentFor('body')%>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>